# dependencies
/frontend/node_modules

# logs
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# runtime data
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

# build
/frontend/build

# misc
/frontend/.DS_Store
/frontend/.idea
/frontend/.vscode
/frontend/*.pem
/frontend/*.log

# next.js
/frontend/.next/
/frontend/out/
