# dependencies
/frontend/node_modules

# logs
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# runtime data
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

# build
/frontend/build

# misc
/frontend/.DS_Store
/frontend/.idea
/frontend/.vscode
/frontend/*.pem
/frontend/*.log

# Binaries for programs and plugins
/backend/*.exe
/backend/*.exe~
/backend/*.dll
/backend/*.so
/backend/*.dylib

# Test binary, built with `go test -c`
/backend/*.test

# Output of the go coverage tool, specifically when used with LiteIDE
/backend/*.out

# Go workspace file
/backend/go.work

# IntelliJ IDEA User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
